/* --- This stylesheet is  written by BEM --- */

/* --- CSS reset --- */
/* TODO remove this */
input {
    caret-color: red;
    caret-shape: block;
    caret-width: 10px;
}

textarea:focus, input:focus {
    outline: none;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: 16px;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

body, button, input, select, textarea {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
    margin: 10px 0;

}

a {
    cursor: pointer;
    text-decoration: none;
}

a:focus-visible {
    outline: none;
}

svg {
    vertical-align: middle;
    fill: currentColor;
}

svg:focus-visible {
    border: none;
}

li {
    list-style-type: none;
}

p {
    line-height: 1.4rem;
}

/*--- Colors --*/

:root {
    --blue-light: #80D0C7;
    --blue-normal: #0093E9;
    --blue-dark: #0a659a;
    --grey: #797979;
    --grey-light: #eeeeee;
}

/* -- Blocks --- */

body {
    background-color: var(--blue-dark);
    background-image: linear-gradient(160deg, var(--blue-normal) 0%, var(--blue-light) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: var(--grey);
}

.load-bubble {
    background: var(--blue-normal);
    min-height: 100vh;
    min-width: 100vw;
    z-index: 100;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.6s;
    opacity: 1;
}

.container {
    position: absolute;
    top: 18%;
    left: 20%;
    /*background: #fff;*/
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 4px -10px 10px 3px var(--blue-dark);
    transition: ease-in-out 1.2s;
    opacity: 0;
}

.nav {
    position: absolute;
    width: 5rem;
    background: #fff;
    text-align: center;
    border-radius: 0.5rem;
    left: -90px;
    top: 20px;
    box-shadow: 4px -4px 10px 3px var(--blue-dark);
    transition: ease-in-out 0.6s;
}

.profile {
    z-index: 10;
    background: #fff;
    border-radius: 0.6rem;
}


/*.profile:after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 20px;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 95%;*/
/*    box-shadow: 12px 0 10px -6px rgba(147, 146, 146, 0.8);*/
/*}*/

.c-icon-color {
    width: 4rem;
    height: 4rem;
    background: var(--blue-normal);
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
}

.icon__ext-sm {
    width: 0.8rem;
    height: 0.8rem;
    padding: 8px;
}

.icon__small {
    width: 1rem;
    height: 1rem;
    padding: 5px 5px 10px 0;
    color: #000;
    transition: ease-in-out 0.3s;

}

.icon__small:hover {
    color: var(--blue-normal);
    transform: scale(1.5);
}

.icon__grey-small {
    width: 1rem;
    height: 1rem;
    padding: 5px 5px 10px 0;
    color: #727272;
}

.icon__medium {
    width: 1.2rem;
    height: 1.2rem;
    color: #000;
}

.icon__big {
    width: 1.6rem;
    height: 1.6rem;
}

.icon-btn-send {
    padding: 3px 0 0 10px;
    transform: translateY(3px);
    animation: arrowMoveR infinite 2s;
}

.h-color-blue {
    color: var(--blue-normal);
}

@keyframes arrowMoveR {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(7px);
    }
    60% {
        transform: translateX(3px);
    }
}


.l-icon-big--color-W {
    width: 2rem;
    height: 2rem;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.l-icon-big {
    width: 2rem;
    height: 2rem;
    color: var(--blue-normal)
}

.content {
    position: absolute;
    border-radius: 0.5rem;
    bottom: 20px;
    top: 20px;
    width: 40vw;
    left: 0;
    overflow: auto;
    opacity: 0;
    background: #fff;
    box-shadow: 9px -10px 10px 0 var(--blue-dark);
    /*box-shadow: 8px 0px 5px #9e9e9e inset;*/
    z-index: -10;
    transition: ease-in-out 1.2s;
}

.resume {
    overflow-x: hidden;
}

.title {
    padding: 0 0 0 2rem;
    text-align: left;
    line-height: 5rem;
    font-weight: 600;
    /*font-size: 1.5rem;*/
}

.title::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, rgba(104, 102, 102, 0.4) 100%);
}

.l-grid {
    display: flex;
}

.l-grid__column {
    flex: 0.5;
    position: relative;
    padding: 2rem;
}

.l-grid__column-small {
    flex: 1;
    position: relative;
    padding: 0.5rem;
}

.l-quote-text-before {
    flex: 1;
    margin: -10px 0 0 0;
}

.l-dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--grey-light);
}

.l-dot-c {
    background: var(--blue-normal);
}

.l-quote-text-after {
    flex: 1;
    margin: auto 0 -10px;
}

.l-quote-text {
    display: inline-block;
    flex: 3;
    font-style: italic;
}


.l-hobie-text {
    font-size: 0.9rem;
    padding: 10px 0 0 0;

}

.l-quote-author {
    padding: 20px 0 0 0;
    font-weight: bold;
    font-size: 1rem;
    color: #000;
}

.l-quote-title {
    padding: 0 0 40px 0;
}

.h-text-left {
    text-align: left;
}

.h-padding {
    padding: 2rem 1rem;
}

.h-padding-t-b {
    padding: 1rem 0;
}

.h-color-text {
    color: #fff;
    font-weight: 600;
    background-color: var(--blue-normal);
    padding: 5px;
    flex: 1;
}

.h-right-text {
    flex: 2;
    text-align: right;
}

.h-flex {
    display: flex;
}

.h-flex-1 {
    flex: 1;
}

.h-flex-2 {
    flex: 2;
}

.vertical-line::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(rgba(197, 202, 213, .7), rgba(255, 255, 255, 0));
}

.horizontal-center-line::after {
    margin: 3rem 0 0 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 10%, rgba(141, 141, 145, 1) 50%, rgba(255, 255, 255, 0) 90%);
}

.h-margin-t {
    margin-top: 50px;
}


.h-margin-b {
    margin: 0 0 2.5em;
}

.h-padding-bottom {
    padding: 0 0 40px 0;
}


.l-year-container {
    border: 1px solid rgba(128, 128, 128, 0.6);
    border-radius: 4px;
    padding: 2px 6px;
    color: rgba(128, 128, 128, 0.6);
    font-weight: 300;
    display: table;
    font-size: 0.7rem;
    margin: 0 0 15px 0;
}

.l-year-container-active {
    border: 1px solid var(--blue-normal);
    color: var(--blue-normal);
}

.l-job-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #000;
}

.l-company-title {
    font-size: 0.9rem;
    color: rgba(114, 114, 114, 0.84);
    margin: 0 0 20px 0;
}

/* -- Elements --- */

.load-bubble__element1 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--blue-dark);
    position: absolute;
    animation: load_page ease-in-out 2s infinite;
}

.load-bubble__element2 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: red;
    position: absolute;
    animation: load_page ease-in-out 4s infinite;
    opacity: 0.1;
}

.header__background {
    background: url("../images/card__background.jpg");
    width: 100%;

}

.nav__li {
    padding: 1em 0;
    cursor: pointer;
}

.nav__li:hover .nav__li__icon, .nav__li:hover .nav__li__anchor > span {
    color: var(--blue-normal);
}

.nav__li:not(:last-child)::after {
    margin: 1em 0 0 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(104, 102, 102, 0.4) 100%);
}

.nav__li__icon {
    width: 1.3em;
    height: 1.3em;
    /*color: var(--blue-normal);*/
    color: #000;
    display: inherit;
    padding: 0 0 0.8rem 0;
    transition: ease-in-out 0.3s;
}

.nav__li__anchor > span {
    font-size: 0.6rem;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
    /*color: var(--blue-normal);*/
    color: #000;
    transition: ease-in-out 0.3s;
}

.profile__bg__top {
    position: absolute;
    overflow: hidden;
    /*background: var(--blue-dark);*/
    /*border-radius: 0.5rem;*/
}

.profile__bg__top::before {
    content: "";
    height: 100px;
    width: 300px;
    transform: rotate(14deg);
    background-color: #ffff;
    position: absolute;
    left: -17px;
    bottom: -59px;
}

.profile__bg__top::after {
    content: "";
    height: 100px;
    width: 300px;
    transform: rotate(-14deg);
    background-color: #ffff;
    position: absolute;
    left: 168px;
    bottom: -59px;
}

.profile__bg__top__img {
    height: 300px;
    border-radius: 0.5rem;
    transition: ease-in-out 1.2s;
}

.profile__img {
    position: relative;
    width: 150px;
    height: 150px;
    padding: 215px 150px 20px;
}

.profile__img__profile {
    border-radius: 100%;
    height: 100%;
    width: 100%;
}

.profile__heading {
    margin: 0 0 10px 0;
    font-weight: 400;
    font-size: 2.0rem;
    color: #000;
}

.profile__subheading {
    color: var(--blue-normal);
    font-size: 1rem;
    display: initial;
    padding: 3px 0;
    border-right: 1px solid var(--blue-normal);
}

.profile__social {
    margin: 1rem 0 0 0;
}

.profile__footer {
    display: flex;
    margin: 2rem 0 0 0;
}

.profile__footer:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, rgba(104, 102, 102, 0.4) 100%);
    left: 0;
}

.profile__footer__box {
    flex: 1;
    text-align: center;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.7rem;
    line-height: 5rem;
    transition: ease-in-out 0.3s;
    position: relative;
    cursor: pointer;
}


.profile__footer__box > svg {
    transition: ease-in-out 0.3s;
    padding: 0 0 0 10px;
}

.profile__footer__box:hover, .profile__footer__box:hover > svg {
    color: var(--blue-normal);
}


.title__color {
    color: var(--blue-normal)
}

/* -- Modifier --- */

.bubble-hide {
    /*opacity:0;*/
    display: none;
}

.active {
    border-radius: 0 0.5rem 0.5rem 0;
    opacity: 1;
    left: 100%;
    z-index: -1;
}

.h-menu-active * {
    color: var(--blue-normal) !important;
}

.profile__subheading--border-animation {
    animation: border-animation ease-in-out 0.8s infinite;
}

.c-img-zoom {
    overflow: hidden;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.c-img-zoom:hover .l-img-to-zoom {
    transform: scale(1.1);
    position: relative;
    width: 100%;
    height: auto;
}

.c-img-zoom:hover .l-img-before::before {
    opacity: 1;
    z-index: 5;
}

.c-img-zoom:hover h6 {
    color: var(--blue-normal);
    transition: ease-in-out 0.255s;
}


.l-img-to-zoom {
    width: 100%;
    height: 100%;
    transition: ease-in-out 0.6s;
}


.image {
    overflow: hidden;
    z-index: 2;
}

.l-img-before {
    position: relative;
    display: block;
    font-size: 0;
}

.l-img-before::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 105%;
    background-color: rgba(44, 62, 80, .6);
    opacity: 0;
}


.l-img-text {
    background: white;
    padding: 0;
    margin: 0;
    position: relative;
    top: -4px;
    z-index: 10;
}

.l-img-text h6 {
    font-size: 20px;
    color: #3b3b3b;
}

.l-img-small {
    width: 60px;
    border-radius: 50%;
}


.l-hover {

    opacity: 0;
    transition: ease-in-out 0.255s;
}

.l-grid__column :hover .l-hover {
    opacity: 1;
    z-index: 100;
}

/* -- Animation --- */

@keyframes load_page {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes border-animation {
    0% {

        border-right: 1px solid var(--blue-normal);
    }
    40% {

        border-right: 1px solid #fff;
    }
    60% {

        border-right: 1px solid #fff;
    }
    100% {

        border-right: 1px solid var(--blue-normal);
    }
}

/* -- Mobile --- */


/* -- Scrollbar --- */

::-webkit-scrollbar {
    width: 0.5rem;
    transition: ease-in-out 0.3s;
}

::-webkit-scrollbar-track {
    /*background:var(--blue-light);*/
    border-radius: 100vw;
    /*margin-block: 0.1rem;*/
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(var(--blue-dark), var(--blue-normal));
    /*border: 2px solid rgba(30, 64, 243, 0.4);*/
    border-radius: 100vw;
    transition: ease-in-out 0.5s;
}

/*::-webkit-scrollbar-thumb:hover {*/
/*    background: linear-gradient(var(--blue-normal));*/
/*}*/

@media screen and (max-width: 1324px) {
    .container {
        left: 14%;
    }
}

@media screen and (max-width: 1024px) {
    .nav {
        left: 25%;
        top: 0;
        position: fixed;
        width: 450px;
        z-index: 100;
    }

    .ul {
        display: flex;
    }

    .nav__li {
        flex: 1;
    }

    .content {
        transition: none;
        position: initial;
        opacity: 1;
        width: 450px;
        box-shadow: none;
        margin: 20px 0;
    }

    .container {
        box-shadow: none;
        left: 25%;
    }

    .nav__li {
        position: relative;
    }

    .nav__li:not(:last-child)::after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        left: 100%;
        width: 2px;
        height: 100%;
        background: linear-gradient(rgba(197, 202, 213, .7), rgba(255, 255, 255, 0));
        margin: 0;
    }

    .active {
        border-radius: 0.5rem;
    }

    .l-dot {
        width: 10px;
        height: 10px;
    }
}


/*circle start hire */

.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
}


.single-chart {
    width: 100%;
    justify-content: space-around;
    cursor: pointer;
}

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 60%;
    max-height: 250px;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
    transition: ease-in-out 0.6s;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 10s ease-out forwards;
    transition: ease-in-out 0.6s;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}


.circular-chart.blue .circle {
    stroke: var(--blue-normal);
}


.percentage {
    fill: var(--grey);
    font-family: sans-serif;
    font-size: 0.4rem;
    text-anchor: middle;
    transition: ease-in-out 0.6s;
}


.flex-wrapper:hover .percentage {
    fill: var(--blue-normal);
    font-size: 0.6rem;
}

.flex-wrapper:hover .circle {
    stroke-width: 1.8;
}

.flex-wrapper:hover .circle-bg {
    stroke-width: 2.8;
}

/*circle end hire */

@media screen and (max-width: 760px) {
    .nav {
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .container {
        width: 450px;
        top: 100px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    #popup {
        max-width: 100%;
    }

    .popup {
        max-width: 100vw;
    }

    .l-grid {
        display: block;
    }
}


@media screen and (max-width: 550px) {
    .nav {
        width: 100vw;
        border-radius: 0;
    }


    .container {
        max-width: 100vw;
        /*margin: 0;*/
    }

    .profile__bg__top__img {
        max-width: 100vw;
        /*height: 200px;*/
        /*width: 100vw;*/
    }

    .profile__img {
        margin: auto;
        padding: 215px 0 20px;
    }

    /*.profile__bg__top::before {*/
    /*    bottom: -92px;*/
    /*}*/
    /*.profile__bg__top::after {*/
    /*    bottom: -72px;*/
    /*}*/
    /*.profile__img {*/
    /*    margin: auto;*/
    /*    padding: 150px 0 20px;*/
    /*    width: 100px;*/
    /*    height: 100px;*/
    /*}*/
    /*.content {*/
    /*    min-width: 100vw;*/
    /*}*/

    .l-grid {
        display: block;
    }

    .h-flex-media {
        display: flex;
    }

    .h-padding-b {
        padding: 2rem 2rem 0 2rem;
    }

    .h-padding-t {
        padding: 0 2rem 2rem 2rem;
    }

    .h-padding-z {
        padding: 0;
    }
}

@media screen and (max-width: 450px) {
    .container{
        margin: 0;
    }
}

@media screen and (max-height: 850px) {
    .container {
        top: 10%;
    }
}


/* move left ride start hire */

.testimonial_container {
    position: relative;
}

.l-arrow {
    background: var(--blue-normal);
    border-radius: 50%;
    margin: 0;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    z-index: 20;
    vertical-align: center;
    cursor: pointer;
    color: white;
}

.l-arrow-l {
    left: 20px;
}

.l-arrow-l svg {
    margin: 5px 3px 0 0;
    color: white;
}

.l-arrow-r {
    right: 20px;
    transform: rotate(180deg)
}

.l-arrow-r svg {
    margin: 5px 2px 0 0;
    color: white;
}

.container-move {
    background: white;
    margin-top: 40px;
    border-radius: 10px;
    left: 0;
    right: 0;
    transition: ease 1s;
}

.component--cont--left {
    transform: translate(-600px);
    position: fixed;
}

.active--cont {

    transform: translate(0px);
    display: inline-block;
}

.component--cont--right {
    transform: translate(600px);
    opacity: 0;
    position: fixed;
}

.c-nav_car {
    display: inline-flex
}

.nav-carousel {
    border-radius: 50%;
    border: 2px solid var(--blue-normal);
    width: 12px;
    height: 12px;
    margin: 0 2px;
    cursor: pointer;
}

.nav-carousel--on {
    background: var(--blue-normal);
}

/* move left ride end hire */

.ion {
    margin: -16px 0 0 -16px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 32px;
    height: 32px;
    font-size: 32px;
    line-height: 32px;
    color: #ffffff;
    transition: all 0.1s ease-in 0.4s;
    -moz-transition: all 0.1s ease-in 0.4s;
    -webkit-transition: all 0.1s ease-in 0.4s;
}

.ion:before {
    content: "\f148";
}


.c-popup {
    /*position: absolute;*/
    width: 100%;
    height: 100%;
    z-index: -10;
    opacity: 0;
    background: #0a659ac9;
    transition: ease-in-out 0.4s;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
}

.c-popup--pop {
    opacity: 1;
    z-index: 100;
}


.l-opacity {
    opacity: 0;
    transition: ease-in-out 0.1s;
}

.popup {
    background: white;
    width: 720px;
    margin: 0 auto;
    height: 100%;
    /*overflow-y: scroll;*/
    /*padding: 20px;*/
}

.h-popup-close-b {
    position: absolute;
    cursor: pointer;
}

.c-popup h1, .c-popup h5 {
    text-align: center;
}

.c-popup p img {
    width: 100%;
    height: 100%;
}

.c-popup p:first-of-type {
    padding: 0;
}

.c-popup p {
    padding: 20px;
}


.l-conform-b {
    border: 2px solid #cbcaca;
    transition: ease-in-out 0.3s;
    padding: 10px;
    margin: 0;
    font-size: 1.1rem;
    font-weight: 500;
    width: 90%;
}

.l-conform-b:focus, .l-conform-b:active, .l-conform-b:focus-visible {
    border-color: var(--blue-normal);
    color: var(--blue-normal);
}

.l-conform-b:focus::placeholder {
    color: black;
}

.h-img-main {
    max-width: 100%;
    max-height: 100%;
}

.btn-send {
    width: 100%;
    padding: 15px 30px;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-send:hover, .btn-send:hover .icon-btn-send {
    color: var(--blue-normal);
}

.h-margin-auto {
    margin: auto;
}

